* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.header-fon {
    width: 100%;
    background: url('../img/slyd1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 16px;
    padding-bottom: 82px;
}

.header {
    width: 1180px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ul {
    display: flex;
    justify-content: space-between;
}
.header-menu ul li {
    padding: 0 12px;
}
.header-menu ul li a {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.header-menu ul li a:hover {
    text-decoration: underline;
    color: #78d8d3;
}

.header-btn a {
    padding: 12px 24px;
    border-radius: 4px;
    background: #1A3E3E;
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transform: 3s ease;
}

.header-btn a:hover {
    border: 1px solid #1A3E3E;
    background: #FDFDFD;
    color: #1A3E3E;
}

.header-offer {
    margin-top: 386px;
    margin-bottom: 41px;
}

.header-offer h1{
    color: #FDFDFD;
    font-family: NEXT ART;
    font-size: 50px;
    font-weight: 700;
    line-height: 150%; /* 75px */
    text-transform: uppercase;
}

.header-form {
    height: 161px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    padding: 40px 38px;
}
.header-form form {
    display: flex;
}
.header-form input {
    height: 52px;
    padding: 0px 16px;
    border-radius: 8px;
    border: 1px solid #E1E3E4;
    margin-right: 24px;
    width: 270px;
    background-color: transparent;
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.header-form input::placeholder {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
}
.header-form button {
    padding: 16px 36px;
    width: 260px;
    border-radius: 4px;
    background: #FDFDFD;
    color: #1A3E3E;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
}
.about {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin: 80px auto;
}
.about-video {
    width: 480px;
}

.about-info {
    width: 580px;
}
.about-info h3 {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}
.about-info h2 {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.about-info p {
    line-height: 1.5;
    margin-bottom: 40px;
}
.about-btn a {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    background: #1A3E3E;
    padding: 16px 36px;
    text-decoration: none;
    margin-top: 40px;
}
.about-btn {
    border-radius: 4px;
}
.ofer {
    width: 100%;
    background-color: #F3F5F4;
    padding: 80px;
}
.ofer-info {
    width: 1180px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.info-top h2 {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px; /* 83.333% */
}
.info-top h3 {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 120%; /* 38.4px */
}

.info-top p {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 150%; /* 27px */
}

.info-img {
    width: 925px;
}

.ofer-item {
    display: flex;
    margin-bottom: 40px;
}

.ofer-item-foto {
    padding-right: 16px;
}

.ofer-item-info h4 {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
}

.ofer-item-info p {
    color: #000;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.info-img img {
    width: 250px;
    padding: 5px;
}

.ofer-btn {
    margin-top: 56px;
}

.ofer-btn a:hover {
    color: #1A3E3E;
    background: #FDFDFD;
    border: 1px solid #1A3E3E;
}

.ofer-btn a{
    border-radius: 4px;
    background: #1A3E3E;
    padding: 16px 36px;
    color: white;
    text-decoration: none;
    transform: 0.2s ease;
}

.popular {
    width: 1180px;
    margin: 80px auto;
    text-align: center;
}

.popular-title {
    margin-bottom: 50px;
}

.popular-title p {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
}

.popular-title h2 {
    font-family: Nunito Sans;
    font-size: 32px;
    color: #18121E;
    font-size: 32px;
    font-weight: 800;
}

.popular-items {
    display: flex;
    justify-content: space-between;
}

.popular-items img {
    width: 32%;
    transform: scale(1);
    transform:  0.5s ease;
}

.popular-items img:hover {
    transform: scale(1.1);
}

.popular-btn a{
    background-color: #1A3E3E;
    padding: 16px 36px;
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
    transform:  2s ease;
}
.popular-btn a:hover {
    background-color: rgb(229, 147, 147);
}

.fon_blog {
    width: 100%;
    background-color: #F3F5F4;
    padding: 80px 0;
}

.blog {
    width: 1180px;
    text-align: center;
    margin: 0 auto;
}

.blog-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-items {
    display: flex;
    background-color: white;
    padding: 16px;
    margin: 0 20px 24px 0;
    width: 540px;
}

.blog-item-foto img {
    margin-right: 24px;
}

.blog-item-info {
    width: 250px;
    position: relative;
}

.blog-item-info h3 {
    margin-bottom: 24px;
}
.blog-item-info p {
    height: 120px;
    margin-bottom: 24px;
}

.blog-item-foto img {
    height: 100%;
}


.button_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.button_info .date {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

.read a {
    color: #1A3E3E;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
}

.blog-items h3 {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-bottom: 24px;
    text-align: left;
}

.blog-items p {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: left;
}

.blog-title {
    margin-bottom: 40px;
}

.blog-title p {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 20px; /* 83.333% */
}

.blog-title h2 {
    color: #18121E;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%; /* 38.4px */
}

.blog-btn a {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    background: #1A3E3E;
    padding: 16px 36px;
    text-decoration: none;
}
.blog-btn {
    border-radius: 4px;
    margin-top: 50px;
}

.gallary {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.gallary-title p {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
}

.gallary-title h2 {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 800;
}

.gallary-btn, .popular-btn{
    margin-top: 50px;
}

.gallary-btn a {
    color: #FDFDFD; 
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    background-color: #1A3E3E;
    padding: 16px 36px;
    text-decoration: none;
    border-radius: 4px;
    transform: 0.5s ease;
}

.gallary-btn a:hover {
    color:#18121E;
    background-color:#fff;
    border: 1px solid #18121E;
}