* {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
body {
    background: rgb(217 205 205);
}
.chat {
    width: 1180px;
    margin: 0 auto;
}
.container__anna, .container__jack {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.container__anna {
    grid-template-areas: 
    "anna anna__text .";
}
.container__jack {
    grid-template-areas: 
    ". jack__text jack";
}
.anna .chat__info {
    justify-content: flex-end;
}
.jack .chat__info {
    justify-content: flex-start;
}

.chat__info {
    display: flex;
    gap: 20px;
    align-items: center;
}
.chat__foto {
    width: 20%;
}
.anna, .jack {
    display: flex;
    gap: 30px;
    align-items: center;
}
.anna {
    grid-area: anna;
    margin-right: 20px;
}
.jack {
    grid-area: jack;
    margin-left: 20px;
}

.anna__text {
    grid-area: anna__text;
    border: 1px solid #b98f8f;
    background: #b98f8f;
    border-radius: 5px;
}
.jack__text {
    grid-area: jack__text;
    border: 1px solid #6d84a5;
    background: #6d84a5;
    border-radius: 5px;
}
